* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}


.all_sections{
    position: relative;
    padding: 70px 0px;
}

a {
    text-decoration: none !important;
}

.pad-top-0{padding-top: 0 !important;}
.secondary{color:#ff0000;}

.heading_sec {
    position: relative;
    text-align: center;
}

.heading_sec h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #0095E5;
    margin-top: 20px;
}

.heading_sec h4 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    color: #000;
    margin-top: 30px;
}


.heading_sec p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    width: 45%;
    margin: auto;
}

header {
    position: relative;
    padding: 20px;
}

header .navbar-light .navbar-brand img {
    position: relative;
    width: 100%;
    object-fit: cover;
    margin-right: 0px;
}

.navMenu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navMenu form {
    position: relative;
    margin-left: 100px;
}

.space{
    position: relative;
    margin-left: 100px;
}

.headRegisterBtn {
    display: inline-block;
    position: relative;
    background: linear-gradient(#8CCEFF 20%, #0095E5 100%);
    padding: 10px 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    margin-left: 15px;
}

.dropdown-menu {
    border: none !important; 
     border-radius: 0px !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #368CCC !important;
    background-color: #0095e529 !important;
}

.headRegisterBtn i {
    margin-right: 5px;
}

header .headCallBtn{background: #fff;}
.headCallBtn {
    display: inline-block;
    padding: 10px 30px;
    color: #368CCC;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    border: 1px solid;
    border-radius: 12px;
}
.headCallBtn:hover{background: #000; color: #fff;}

.headCallBtn i {
    margin-right: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 18px !important;
    padding-left: 18px !important;
    color: #000 !important;
    font-size: 14px !important;
    font-weight: 600;
    font-family: 'Inter';
}
.navbar-nav .nav-item a{border-radius:8px;}
.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a.active{background: #ebf4fa; color: #368ccc !important;}

/* first section */

.banner_sec {
    position: relative;
    padding: 100px 0px 0px;
}

.banner_hdng {
    position: relative;
}

.banner_hdng h1 {
    position: relative;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.2;
    color: #000;
}

.banner_hdng h1 span img {
    position: relative;
    width: 72px;
    object-fit: contain;
}

.banner_content {
    position: relative;
}

.banner_content p {
    color: #000;
    font-size: 16px;
    font-weight: 600;

}

.banner_content .banner_Btns {
    position: relative;
    margin-top: 30px;
}


.banner_content .banner_Btns .bookBtn {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    border: 1px solid;
    border-radius: 12px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background: linear-gradient(#767676 20%, #262626 100%);
}

.banner_content .banner_Btns .bookBtn:hover {
    transition: 2s;
    background: transparent;
    color: #000;
}

.banner_content .banner_Btns .bookBtn i {
    margin-right: 5px;

}


.banner_content .banner_Btns .ViewBtn {
    display: inline-block;
    padding: 10px 30px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background: transparent;
    border-radius: 12px;
}

.banner_content .banner_Btns .ViewBtn:hover {
    transition: 2s;
    color: #fff;
    background: linear-gradient(#767676 20%, #262626 100%);
}

.banner_content .banner_Btns .ViewBtn i {
    margin-right: 5px;
}

.visitingsection{
    position: relative;
    padding: 20px;
    background-color: #fff;
    margin-top: 50px;
}

.visitingsection .owl-carousel{z-index: 50;}

.dr_inner {
    position: relative;
    background-color: #1180BE;
    border-radius: 40px;
    padding: 30px;
}

.bg_type {
    position: relative;
    min-height: 400px;
    border-radius: 15px;
  
    
}

.bg_type::after{
    content: '';
    width: 70%;
    height: 100%;
    background-image: url(../../assets/images/pngimg\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 15px;
}

.bg_type::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, rgb(255, 255, 255,0.3) 59%, rgb(255, 255, 255,0)100%);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    z-index: 0;
}



.bg_banner {
    position: relative;
}

.bg_banner img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.dr_content {
    position: relative;
    padding: 20px;
    background-position: bottom;
    z-index: ;
}


.dr_content h4 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    margin-top: 20px;
}

.dr_content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    margin-top: 20px;
    width: 75%;
}

.flexing{
    position: relative;
    display:flex !important ;
    flex-direction: column;
    justify-content: space-between !important;
}

.customRow{
    display: flex;
    flex-direction: column;
}

.contents {
    position: relative;
    padding: 20px;
    border-radius: 15px;
    min-height: 190px;
    width: calc(100% / 1);
    margin: auto;
   
}

.mrdn_t{
    position: relative;
    margin-top: 15px;
}
.mrdn_t::after{
    content: '';
    width: 30%;
    height: 70%;
    background-image: url(../../assets/images/image\ 13.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 15px;
    z-index: 0;
}

.mrdn_t::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, rgb(255, 255, 255,0.3) 59%, rgb(255, 255, 255,0)100%);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.after_hours{
    position: relative;
}


.after_hours::after{
    content: '';
    width: 30%;
    height: 70%;
    background-image: url(../../assets/images/toppng\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 15px;
    z-index: 0;
}

.after_hours::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, rgb(255, 255, 255,0.3) 59%, rgb(255, 255, 255,0)100%);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.contents h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    margin-top: 10px;

}

.contents p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    width: 70%;


}

.download_inner {
    position: relative;
    background:radial-gradient(circle at center, #FF8989 49%, #FB5151 100%);
    border-radius: 40px;
    padding: 30px;
    height: 100%;
}


.download_inner::after{
    content: '';
    width: 50%;
    height: 70%;
    background-image: url(../../assets/images/Frame27.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 40px;
    z-index: 0;
}


.download_inner h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    margin-top: 20px;
}

.download_inner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 20px;
}

.download_inner a {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.download_inner a img {
    object-fit: contain;
}

/* why_choose_sec */

.why_choose_sec {
    position: relative;
    background-color: #fff;
}

.we_sections{
    position: relative;
    margin-top: 50px;
    padding: 0px 20px;
}

.we_sections .we_details {
    position: relative;
    padding: 0px 0px 30px 0px;
    text-align: center;
    border-radius: 40px;
    border: 1px solid #f2f2f2;
    background-color: #fafafa;
    height: 100%;
    overflow: hidden;
}

.we_sections .we_details img{
    width: 100%;
    object-fit: cover;
    min-height: 295px;
    margin-bottom: 20px;
}

.we_sections .we_details h4 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
    margin-bottom: 20px;
}

.we_sections .we_details p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    margin: auto;
    width: 75%;
    text-align: center;
}

.weCards{
    position: relative;
    margin-top: 15px;
}

.we_sections .weCards_details{
    position: relative;
    padding: 0px 15px 20px 15px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid rgb(174 165 165 / 30%);
    background-color: rgb(228 228 228 / 20%);
    height: 100%;
    overflow: hidden;
}

.we_sections .weCards_details img{max-width: 100%;}

.we_sections .weCards_details h4 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
    margin-bottom: 20px;
}

.we_sections .weCards_details p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #2e2d2d;
    text-align: center;
}


/* ourService_src */

.ourService_src{
    position: relative;
    background-color: transparent;
}

.ourService_src .ourServices_inners{
    position: relative;
    margin-top: 40px;
    padding: 0px 20px;
}

.ourService_src .ourServices_inners .ourServices_cards {
    position: relative;
    padding: 20px;
    border: 1px solid rgb(204 204 204 / 30%);
    border-radius: 30px;
    box-shadow: 3px 4px 11px -6px rgb(31, 32, 32,0.4);
    height: 100%;
    margin-top: 15px;
    transition: 4s;
    
}



.ourService_src .ourServices_inners .ourServices_cards:hover {
  background:   radial-gradient(circle at center, #FFB9B9 20%, #FD6D6D 100%); cursor: pointer;
}

.ourService_src .ourServices_inners .ourServices_cards:hover h4, .ourService_src .ourServices_inners .ourServices_cards:hover p{color:#fff;}
.ourService_src .ourServices_inners .ourServices_cards:hover .top_arrow{background: #fff; transform:rotate(320deg);}
.ourService_src .ourServices_inners .ourServices_cards:hover .top_arrow i{color:#000 !important;}

.bg_color{
    transition: 4s;
    background:   radial-gradient(circle at center, #FFB9B9 20%, #FD6D6D 100%);
}

.ourService_src .ourServices_inners .ourServices_cards img{
    max-width:50px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}

.ourService_src .ourServices_inners .ourServices_cards h4{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
    margin-bottom: 20px;
}


.ourService_src .ourServices_inners .ourServices_cards p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #7e7777;
    margin-bottom: 30px;
}

.ourService_src .ourServices_inners .ourServices_cards .top_arrow{
    font-size: 16px;
    color: #000;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b5b3b3;
  border-radius: 50%;
}

/* .ourService_src .ourServices_inners .ourServices_cards .top_arrow i{
    transform: rotate(70);

} */


/* faq_sec */

.faq_sec{
    position: relative;
    background-color: transparent;
}

.faq_sec .faq_inner{
    position: relative;
    background-color: #ecf1f7;
    padding: 20px;
    border-radius: 20px;
}

.faq_sec .faq_inner h6{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #0095E5;
    margin-bottom: 20px;
}

.faq_sec .faq_inner h4{
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 20px;
}

.faq_sec .faq_inner p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 20px;
}

.faq_sec .faq_inner img{
width: 100%;
object-fit: cover;    
}

.faq_sec .faq_inner .faqCallBtn{
    display: inline-block;
    padding: 10px 30px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    border: 1px solid rgb(0, 0, 0,0.1);
    border-radius: 12px;

}


.faq_sec .faq_inner .faqCallBtn i {
    margin-right: 5px;
}

.faq_accordion_inner{
    position: relative;
    padding-left:50px ;
    
}

.faq_accordion_inner .accordion-body{color:#949494;}

.accordion-button {

    padding: 2rem 1.25rem  !important;
    font-size: 24px !important;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow:none !important;
}

.accordion-button:not(.collapsed) {
    color: #000  !important;
    background-color: transparent !important;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}


/* start_sevolution_sec */

.start_sevolution_sec{
    position: relative;
    background-color: transparent;
}

.start_sevolution_sec .start_sec{
    position: relative;
    padding: 0px 30px;

}

.start_sevolution_sec .start_sec .start_inner{
    position: relative;
    background-image: url(../../assets/images/Spectra-Blue-8.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}

.start_sevolution_sec .start_sec .start_inner .start_card{
    position: relative;
    background-color: rgb(0, 149, 229, 0.3);
    
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgb(210, 210, 210,0.2);

}
.start_sevolution_sec .start_sec .start_inner .start_card::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../../assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
}


.start_sevolution_sec .start_sec .start_inner .start_card h3{
    font-size: 44px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
}
.start_sevolution_sec .start_sec .start_inner .start_card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
}

.start_sevolution_sec .start_sec .start_inner .start_card .videoBtn{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}


/* footer */

.footer{background-color: #0f1726; padding:40px; color:#cfd1d4; background-image: url(../../assets/images/footbg.png); background-repeat: no-repeat; background-position: right;}
.footer h5{color:#fff;}
.footer p{margin:8px 0;}
.footer .social-links{margin:0; padding:0;}
.footer .social-links li{display:inline; margin:0 5px;}
.footer .social-links li a{color:#878b93; font-size: 24px;}
.footer .social-links li a:hover{color:#fff;}
.footer .menu-list{margin:0; padding:0;}
.footer .menu-list li{list-style: none; margin-bottom: 8px;}
.footer .menu-list li a{color:#878b93;}
.footer .menu-list li a:hover{color:#fff;}
.footmdl ul{margin:0px; padding:0;}
.footmdl li{display: inline; margin: 0px 8px 0 0;}
.footbtm{background-color: #0f1726; border-top: 1px solid #272f3d; padding:10px; text-align: center; color:#878b93;}


.visitingsection .owl-prev{position:absolute;  left:-0px; background-image:url(../../assets/images/prev.png) no-repeat; width:26px; height:26px; text-indent:-9999px;}
.visitingsection .owl-theme .owl-nav{top:42%;}
.visitingsection .carouselsection{margin-top:0; padding:0;}
.visitingsection .owl-next{position:absolute;  right:-0px; background-image:url(../../assets/images/next.png) no-repeat;width:26px; height:26px; text-indent:-9999px;}
.visitingsection .owl-theme .owl-dots{position: absolute; bottom:-216px; left: 43%;}

.innermaincontent{padding:18px 0px 0;}
.percentagesection{margin: 25px 0;}
.percentagecol{background:#ebf4fa; border-radius: 10px; padding:20px;}
.percentagecol h4{font-size: 48px; color:#368CCC; font-weight: bold;}
.innercontentsection a{color:#000;}
.innercontentsection h3{font-size: 54px; font-weight: bold;}

.main-banner .item{background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
    padding: 100px 100px;}

.main-banner .item1{background:url(../../assets/images/about.png); background-size: cover;}
.main-banner .item2{background:url(../../assets/images/careerbanner.png); background-size: cover;}
.main-banner .item3{background:url(../../assets/images/pateintbanner.png); background-size: cover;}
.main-banner .item4{background:url(../../assets/images/complaint-banner.png); background-size: cover;}

.main-banner h2{color:#fff; font-size: 54px; font-weight: bold;}
.main-banner h4{color:#fff; font-size: 14px; text-transform: uppercase;}
.banner-right{display: flex; text-align: right; align-items: center; justify-content: right;}
.innercontentsection h4{font-size:36px; font-weight: bold;}
.innercontentsection h6{color:#368CCC; font-size: 22px; font-weight: 500;}
.innercontentsection h3{font-size:36px;}
.booksection .bookcol{background: #f9fafb; border-radius: 18px; padding: 24px; min-height: 230px; position: relative;}
.booksection{margin:25px 0;}
.bookcontent{margin-top:-45px;}
.btm-links{position:absolute; bottom: 25px;}
.btm-links a{color:#368CCC; font-weight: bold; margin-right: 12px;}
.icon-box-content{font-size:18px; color: #000; font-weight: bold;}

.tabsection{margin:25px 0 15px;}
.tabsection .nav .nav-item button.active {
    background:#fff; border-radius: 8px; webkit-box-shadow: 9px 9px 9px -10px rgba(0,0,0,0.4);
    -moz-box-shadow:  9px 9px 9px -10px rgba(0,0,0,0.4);
    box-shadow:  9px 9px 9px -10px rgba(0,0,0,0.4);
  }
  .tabsection .nav .nav-item button.active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 5px 5px 0 0;
  }
  .tabsection h2{font-size:36px; font-weight: bold; color: #368CCC;}
  .tabsection a.headCallBtn{border: 1px solid #368CCC; color:#368CCC;}
  .tabsection a.headCallBtn:hover{color:#fff;}
  #pills-tab{background-color: #f7f7f7; border: 1px solid #eaeaea; padding:4px;}
  #pills-tab .nav-item{width:33%;}
  #pills-tab .nav-item .nav-link{width: 100%; color:#000 !important;}
  .darkcolor{color: #000 !important;}
  .bluecolor{color:#368CCC;}
  .complaintsection{background: #F9FAFB; border-radius:24px; padding:40px;}
  .complaintsection h4{font-weight: 600; font-size:18px; color: #101828;}
  .complaintsection h4 i{padding-right: 8px;}
  .complaintsection p{color:#475467;}
  .complaint-listing{margin-bottom: 40px;}

  .loginsection{padding:20px 80px;}
  .loginsection .bookright{background:url(../../assets/images/loginrightbg.jpeg); background-size:cover; border-radius:24px; padding:40px; position: relative; overflow: hidden;}
  .bookright::before {
    content: "";
    background: #000;
    position: absolute;
    inset: 0;
    z-index: 0;
    opacity: 0.2;
  }
  .bookright h2, .bookright p{position:relative; z-index: 2; color:#fff;}
  .callinfosection{position: relative; z-index: 2;}
  .loginform{background-color: transparent; padding:40px 100px 50px; border: 1px solid rgb(0, 0, 0 , 0.1); border-radius:24px; box-shadow: 0px 10px 85px -46px #4d4b4b; margin-bottom: 70px;}
  .loginform h3{color:#101828; font-size: 30px; font-weight: 600;}
  .loginform h5{color:#475467; font-size: 16px; margin-top: 14px;}
  .loginform .btn-primary{width:100%; background: linear-gradient(#8CCEFF 20%, #0095E5 100%); border-radius: 12px; border: none; padding:12px 12px 8px;}
  .loginform form{margin-top: 32px;}
  .loginform label{color:#344054; font-size: 14px;}
  .loginform a{color:#368CCC; font-weight: 600;}
  .loginform .form-control, .loginform .form-select{border-radius:12px; padding:10px 14px;}
  .bookright h2{font-size: 24px; font-weight: 600;}
  .bookright p{font-size: 14px;}
  .callinfosection{border-radius:24px; border: 1px solid #f1f1f1; padding:0 0 40px; background-color: rgba(0, 0, 0, 0.1); backdrop-filter: saturate(180%) blur(10px);}
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .callinfosection {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

  .callinfosection .col{width:100%; border-bottom: 1px solid #f1f1f1; padding:30px 40px 30px; text-align: center;}
  .callinfosection .col a{display:block; background: rgba(255, 255, 255, 0.25); padding:10px; border-radius: 8px; border:1px solid #fff; color: #fff;;}
  .callinfosection .col a:hover{background:#fff; color: #000;}
  .no-bdr{border-bottom: 0 !important; padding-bottom: 0 !important;}
  .loginsection #pills-tab .nav-item{width:50%;}

.form_sec{margin-top: 30px; position: relative; background-color: transparent; padding: 30px 200px; border: 1px solid rgb(0, 0, 0 , 0.1); border-radius: 40px; box-shadow: 0px 10px 85px -46px #4d4b4b; margin-bottom: 70px; }
.form_sec .form_head{position: relative; text-align: center;}
.form_sec .form_head .form_icon{display: flex; margin: auto; justify-content : center; align-items: center; max-width: 80px;  height: 80px; background:radial-gradient(circle at center, #63C5F9 49%, #0095E5 100%); border-radius: 10px;  box-shadow: 0px 9px 12px -5px #0095E5;}
.form_sec .form_head .form_icon i{ color: #fff; font-size: 22px;}
.form_sec .form_head .form_icon{display: flex; margin: auto; justify-content : center; align-items: center; max-width: 80px;  height: 80px; background:radial-gradient(circle at center, #63C5F9 49%, #0095E5 100%); border-radius: 10px;  box-shadow: 0px 9px 12px -5px #0095E5;}
.form_sec .form_head h4{ font-size: 24px; color: #368CCC; line-height: 1.2; margin: 15px 0px;} 
.form_sec .form label{font-size: 16px; color: #344054; font-weight: 400; margin-bottom: 5px;}  
.form_sec .form .inputTypes {position: relative; width: 100%; padding: 8px 12px; border-radius: 12px; border:1px solid #D0D5DD !important; margin-bottom: 20px; font-size: 16px; color: #344054; font-weight: 400;}
.form_sec .form .formBtn{position: relative; display: flex; align-items: center; justify-content: center;}
.form_sec .form .formBtn .applyBtn{display: inline-block; position: relative; background: linear-gradient(#8CCEFF 20%, #0095E5 100%); padding: 10px 30px; color: #fff; font-size: 14px; font-weight: 600; border-radius: 12px; }
.form_sec .form .formBtn .applyBtn i{ position: relative; margin-right: 10px; transform: rotate(45deg);}
.form_sec .form .formBtn .applyBtn i:hover{ transition: 1s; transform: rotate(0deg);}
  

#btn-back-to-top {
    position: fixed;
    bottom:50px;
    right: 20px;
    display: none;
  }

  
@media screen and (max-width: 992px) {

    .all_sections{
        position: relative;
        padding: 50px 0px;
    }
    


    .banner_sec {
        padding: 70px 0px;
    }

    .banner_hdng h1 {
        font-size: 50px;
    }

    .navMenu {
        position: relative;
        width: 100%;
        flex-direction: column;
        margin-top: -50px;
        align-items: end;
    }

    .navMenu .navbar-collapse {
        position: absolute;
        width: 50%;
        top: 50px;
        right: -12px;
        z-index: 999;
        padding: 20px;
        border-radius: 0px 0px 0px 15px;
        background-color: #fff;
        box-shadow: 0px 0px 27px -4px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0px !important;
        padding-left: 0px !important;
        color: #000 !important;
        font-size: 16px !important;
        font-weight: 500;
        font-family: 'Inter';
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
    }


    .headRegisterBtn {
        margin-left: 0px;
        margin-top: 10px;
    }

    .banner_content .banner_Btns .ViewBtn {
        margin-top: 15px;
    }

    .banner_hdng h1 span img {
        width: 62px;
    }

    .Dr_Visit_sec {
        padding: 20px;
        margin-top: 40px;
    }

    .bg_type {
        min-height: 360px;
        border-radius: 15px;
    }

    .customRow{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .contents {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }


    .why_choose_sec {
        position: relative;
        padding: 60px 0px;
    }

    .heading_sec h4 {
        font-size: 44px;
        margin-top: 20px;
    }
    .download_inner {
        border-radius: 30px;
        padding: 25px;
        margin-top: 15px;
        min-height: 360px;
    }

    .download_inner::after {
        width: 42%;
        height: 74%;
    }

    .dr_inner {
        border-radius: 30px;
    }

    

    .heading_sec h4 {
        font-size: 44px;
    }

    .heading_sec p {
        width: 62%;
    }

    .we_sections .we_details h4 {
        font-size: 26px;
    }

    .we_sections .we_details p {
        width: 100%;
    }



    .dr_content h4 {
        font-size: 26px;
    }
    
    .dr_content p {
        width: 60%;
    }
    .faq_accordion_inner {
        padding-left: 20px;
    }

    .faq_sec .faq_inner h4 {
        font-size: 32px;
    }

    .accordion-button {
        padding: 1.6rem 1rem  !important;
        font-size: 22px !important;
    }

    .we_sections .weCards_details h4 {
        font-size: 26px;
   
    }

    .start_sevolution_sec .start_sec .start_inner .start_card h3 {
        font-size: 36px;
    }
    
    .form_sec{ padding: 30px 50px;}
.career_content h3 {font-size: 38px;}
.form_sec .form_head h4 {font-size: 22px;}
}

@media screen and (max-width: 768px) {
    .banner_sec {
        padding: 50px 0px;
    }

    .banner_hdng h1 {
        font-size: 42px;
    }
    .banner_hdng h1 span img {
        width: 60px;
    }

    .Dr_Visit_sec {
        padding: 0px;
        margin-top: 30px;
    }

    .dr_inner {
        border-radius: 25px;
    }

    .all_sections {
        position: relative;
        padding: 40px 0px;
    }


    .bg_type {
        min-height: 330px;
        border-radius: 15px;
    }

    .heading_sec h4 {
        font-size: 38px;
        margin-top: 20px;
    }

    .heading_sec h4 {
        font-size: 40px;
    }

    

    .download_inner {
        border-radius: 20px;
        padding: 25px;
        margin-top: 15px;
        min-height: 330px;
    }

    .download_inner::after {
        width: 32%;
        height: 100%;
    }

    .heading_sec p {
        width: 80%;
    }

    .Dr_Visit_sec {
        padding: 20px;
        margin-top: 30px;
    }

    .dr_content h4 {
        font-size: 24px;
    }
    
    .dr_content p {
        width: 70%;
    }

    .contents h4 {
        font-size: 22px;
    }

    .faq_sec .faq_inner h4 {
        font-size: 28px;
    }
    .faq_accordion_inner {
        padding-left: 0px;
        margin-top: 30px;
    }
    .accordion-button {
        padding: 1.2rem 0.8rem  !important;
        font-size: 20px !important;
    }

    
    .ourService_src .ourServices_inners .ourServices_cards h4 {
        font-size: 26px;
    }

    .we_sections .weCards_details h4 {
        font-size: 24px;
   
    }

    
    .start_sevolution_sec .start_sec .start_inner .start_card h3 {
        font-size: 32px;
    }

    .percentagecol{margin-bottom: 20px;}
    .main-banner .item{padding:25px; text-align: center;}
    .banner-right{justify-content: center; padding-top: 20px;}
    .innercontentsection h3{font-size: 26px;}
    .form_sec {padding: 25px 30px; border-radius: 25px; margin-bottom: 50px;}
    .loginsection{padding:20px 0px;}
    .loginform{padding:30px 15px; font-size: 14px; margin-bottom: 0;}
    .loginform h3{font-size:24px;}
    .loginsection .bookright{padding:30px 20px;}
    .callinfosection .col{padding:20px 30px;}
}

@media screen and (max-width: 576px) {
    .banner_sec {
        padding: 30px 0px;
    }

    .banner_hdng h1 {
        font-size: 42px;
        width: 100%;
    }

    .banner_hdng h1 span img {
        width: 47px;
    }

    .Dr_Visit_sec {
        padding: 10px;
        margin-top: 20px;
    }

    .bg_type {
        min-height: 300px;
        border-radius: 15px;
    }

    .dr_inner {
        border-radius: 20px;
    }

    .download_inner {
        border-radius: 15px;
        padding: 20px;
        margin-top: 15px;
        min-height: 300px;
    }
    
    .download_inner::after {
        width: 40%;
        height: 80%;
    }


    .all_sections {
        position: relative;
        padding: 30px 0px;
    }

    .heading_sec h4 {
        font-size: 36px;
        margin-top: 20px;
    }

    .heading_sec h4 {
        font-size: 34px;
    }

    
    .heading_sec p {
        width: 95%;
    }

    .dr_content h4 {
        font-size: 24px;
    }
    
    .dr_content p {
        width: 90%;
    }

    .contents {
        width: calc(100% / 1 - 0px);
        margin-top: 15px;
    }

    .contents h4 {
        font-size: 20px;
    }

    .download_inner h4 {
        font-size: 22px;
    }

    .faq_sec .faq_inner h4 {
        font-size: 26px;
    }
    .faq_accordion_inner {
        padding-left: 0px;
        margin-top: 30px;
    }
    .accordion-button {
        padding: 1rem 0.5rem  !important;
        font-size: 18px !important;
    }

    .ourService_src .ourServices_inners .ourServices_cards h4 {
        font-size: 24px;
    }

    
    .we_sections .weCards_details h4 {
        font-size: 22px;
   
    }

    .faq_sec .faq_inner img {
        width: 70%;
  
    }

    .start_sevolution_sec .start_sec .start_inner .start_card h3 {
        font-size: 28px;
    }

    .form_sec {padding: 15px 20px; border-radius: 25px; margin-bottom: 30px;}
}



@media screen and (max-width: 1300px) {


    header .navbar-light .navbar-brand img {
        width: 86%;
    }

    .space{
        position: relative;
        margin-left: 50px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 10px !important;
        padding-left: 10px !important;
        color: #000 !important;
        font-size: 13px !important;
        font-weight: 500;
        font-family: 'Inter';
    }

    header form .headRegisterBtn {
        padding: 10px 15px;
        font-weight: 500;
        font-size: 13px;
    }

    header form .headCallBtn {
        padding: 8px 15px;
        font-weight: 500;
        margin-left: 0px;
        font-size: 13px;
    }

}


@media screen and (max-width: 1200px) {

    .space{
        position: relative;
        margin-left: 15px;
    }

    .banner_content .banner_Btns .ViewBtn {
        margin-top: 15px;
    }

}